<h1>Wellcome to GP Time Zone</h1>

<p>This a single-page application, built with:</p>

<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<p>We are using the API : <a href="https://www.timeapi.io/swagger/index.html" target="_blank">https://www.timeapi.io/swagger/index.html</a></p>

<p>With this API done with Angular and WebAPICore.NET you can get the current time of a time zone all over the world.</p>

<p><a href="/time-zone" class="btn btn-primary">Start checking time zones</a></p>
